/* :root {
    --white: whitesmoke;
    --black: darkslategrey;
    --red: crimson;
    --green: seagreen;
  } */
  
  .dartboard {
    --bullseye-radius: 6.35;
    --bull-radius: 15.9;
    --triple-outer-radius: 107;
    --triple-width: 8;
    --double-outer-radius: 170;
    --double-width: 8;
    --wire-width: 1.4;
    --wire-color: var(--silver, silver);
    --bullseye-color: var(--red, red);
    --bull-color: var(--green, green);
    --scale: calc(85% / var(--double-outer-radius));
    margin: 0;
    padding: 0;
    list-style: none;
    /* width: calc(20vmin - 20px); */
    width: 200px;
    /* height: calc(20vmin - 20px); */
    height: 200px;
    display: grid;
    grid-template-areas: "dartboard";
    overflow: hidden;
    background: var(--black, black);
    color: var(--white, white);
    clip-path: circle();
    text-align: center;
    font: 1vmin/2 Futura, sans-serif;
    position: relative;
  }
  .dartboard > li {
    --double-color: var(--triple-color);
  }
  .dartboard > li:nth-child(odd) {
    --single-color: var(--black, black);
    --triple-color: var(--red, red);
  }
  .dartboard > li:nth-child(even) {
    --single-color: var(--white, white);
    --triple-color: var(--green, green);
  }
  .dartboard::after {
    content: "";
    grid-area: dartboard;
    background: radial-gradient(closest-side, var(--bullseye-color) 0 calc( 				var(--bullseye-radius) * var(--scale) 			), var(--wire-color) 0 calc( 				(var(--bullseye-radius) + var(--wire-width)) * var(--scale) 			), var(--bull-color) 0 calc( 				var(--bull-radius) * var(--scale) 			), var(--wire-color) 0 calc( 				(var(--bull-radius) + var(--wire-width)) * var(--scale) 			), transparent 0);
    z-index: 0;
  }
  .dartboard > li {
    grid-area: dartboard;
    background: radial-gradient(closest-side, var(--single-color) 0 calc( 				(var(--triple-outer-radius) - var(--triple-width) - 2 * var(--wire-width)) * var(--scale) 			), var(--wire-color) 0 calc( 				(var(--triple-outer-radius) - var(--triple-width) - var(--wire-width)) * var(--scale) 			), var(--triple-color) 0 calc( 				(var(--triple-outer-radius) - var(--wire-width)) * var(--scale) 			), var(--wire-color) 0 calc( 				var(--triple-outer-radius) * var(--scale) 			), var(--single-color) 0 calc( 				(var(--double-outer-radius) - var(--double-width) - 2 * var(--wire-width)) * var(--scale) 			), var(--wire-color) 0 calc( 				(var(--double-outer-radius) - var(--double-width) - var(--wire-width)) * var(--scale) 			), var(--double-color) 0 calc( 				(var(--double-outer-radius) - var(--wire-width)) * var(--scale) 			), var(--wire-color) 0 calc( 				var(--double-outer-radius) * var(--scale) 			), transparent 0);
    --tan9deg: 0.158384440324536;
    clip-path: polygon(calc(50% * (1 - var(--tan9deg))) 0, calc(50% * (1 + var(--tan9deg))) 0, 50% 50%);
  }
  .dartboard > li:nth-of-type(2) {
    transform: rotate(calc(1/20 * 1turn));
  }
  .dartboard > li:nth-of-type(3) {
    transform: rotate(calc(2/20 * 1turn));
  }
  .dartboard > li:nth-of-type(4) {
    transform: rotate(calc(3/20 * 1turn));
  }
  .dartboard > li:nth-of-type(5) {
    transform: rotate(calc(4/20 * 1turn));
  }
  .dartboard > li:nth-of-type(6) {
    transform: rotate(calc(5/20 * 1turn));
  }
  .dartboard > li:nth-of-type(7) {
    transform: rotate(calc(6/20 * 1turn));
  }
  .dartboard > li:nth-of-type(8) {
    transform: rotate(calc(7/20 * 1turn));
  }
  .dartboard > li:nth-of-type(9) {
    transform: rotate(calc(8/20 * 1turn));
  }
  .dartboard > li:nth-of-type(10) {
    transform: rotate(calc(9/20 * 1turn));
  }
  .dartboard > li:nth-of-type(11) {
    transform: rotate(calc(10/20 * 1turn));
  }
  .dartboard > li:nth-of-type(12) {
    transform: rotate(calc(11/20 * 1turn));
  }
  .dartboard > li:nth-of-type(13) {
    transform: rotate(calc(12/20 * 1turn));
  }
  .dartboard > li:nth-of-type(14) {
    transform: rotate(calc(13/20 * 1turn));
  }
  .dartboard > li:nth-of-type(15) {
    transform: rotate(calc(14/20 * 1turn));
  }
  .dartboard > li:nth-of-type(16) {
    transform: rotate(calc(15/20 * 1turn));
  }
  .dartboard > li:nth-of-type(17) {
    transform: rotate(calc(16/20 * 1turn));
  }
  .dartboard > li:nth-of-type(18) {
    transform: rotate(calc(17/20 * 1turn));
  }
  .dartboard > li:nth-of-type(19) {
    transform: rotate(calc(18/20 * 1turn));
  }
  .dartboard > li:nth-of-type(20) {
    transform: rotate(calc(19/20 * 1turn));
  }

  .board > div:nth-of-type(1):after {
    content: "20";
    transform: rotate(calc(1/20 * 1turn));
    /* transform: translate(0%, 50%); */
    /* animation: score 4s ease-in forwards infinite; */
    /* opacity: 0; */
  }
  .board > div:nth-of-type(2):after {
    transform: rotate(calc(2/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "1";
  }

  .board > div:nth-of-type(3):after {
    transform: rotate(calc(3/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "18";
  }
  .board > div:nth-of-type(4):after {
    transform: rotate(calc(4/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "4";
  }
  .board > div:nth-of-type(5):after {
    transform: rotate(calc(5/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "13";
  }
  .board > div:nth-of-type(6):after {
    transform: rotate(calc(6/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "6";
  }
  .board > div:nth-of-type(7):after {
    transform: rotate(calc(7/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "10";
  }
  .board > div:nth-of-type(8):after {
    transform: rotate(calc(8/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "15";
  }
  .board > div:nth-of-type(9):after {
    transform: rotate(calc(9/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "2";
  }
  .board > div:nth-of-type(10):after {
    transform: rotate(calc(10/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "17";
  }
  .board > div:nth-of-type(11):after {
    transform: rotate(calc(11/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "3";
  }
  .los > div:nth-of-type(1):after {
    /* transform: rotate(calc(11/20 * 1turn)); */
    /* opacity: .5; */
    animation: score 4s ease-in forwards infinite;
    color: rgba(163, 163, 159, 0.71);
    position: absolute;
    transform: translate(-40%, -95%) scale(4, 3.5);
    content: "o";
  }
  .los > div:nth-of-type(2):after {
    /* transform: rotate(calc(11/20 * 1turn)); */
    /* opacity: .5; */
    animation: score 4s ease-in forwards infinite;
    color: rgba(255, 255, 0, 0.71);
    position: absolute;
    transform: translate(700%, -725%) scale(4, 3.5);
    content: "o";
  }
  .board > div:nth-of-type(12):after {
    transform: rotate(calc(12/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "19";
  }
  .board > div:nth-of-type(13):after {
    transform: rotate(calc(13/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "7";
  }
  .board > div:nth-of-type(14):after {
    transform: rotate(calc(14/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "16";
  }
  .board > div:nth-of-type(15):after {
    transform: rotate(calc(15/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "8";
  }
  .board > div:nth-of-type(16):after {
    transform: rotate(calc(16/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "11";
  }
  .board > div:nth-of-type(17):after {
    transform: rotate(calc(17/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "14";
  }
  .board > div:nth-of-type(18):after {
    transform: rotate(calc(18/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "9";
  }
  .board > div:nth-of-type(19):after {
    transform: rotate(calc(19/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "12";
  }
  .board > div:nth-of-type(20):after {
    transform: rotate(calc(20/20 * 1turn));
    /* transform: translate(0%, 50%); */
    content: "5";
  }
  .board > div:nth-of-type(1) {
    transform: translate(0%, 560%) scale(0.75);
    /* animation: score 4s ease-in forwards infinite; */
    /* opacity: 0; */
  }

  .board > div:nth-of-type(2) {
    transform: translate(170%, 490%) rotate(20deg) scale(0.75);
  }

  .board > div:nth-of-type(3) {
    transform: translate(280%, 440%) rotate(35deg) scale(0.75);
  }
  .board > div:nth-of-type(4) {
    transform: translate(390%, 420%) rotate(50deg) scale(0.75);
  }

  .board > div:nth-of-type(5) {
    transform: translate(450%, 440%) rotate(70deg) scale(0.75);
  }

  .board > div:nth-of-type(6) {
    transform: translate(465%, 460%) rotate(90deg) scale(0.75);
  }
  .board > div:nth-of-type(7) {
    transform: translate(445%, 470%) rotate(-70deg) scale(0.75);
  }
  .board > div:nth-of-type(8) {
    transform: translate(390%, 470%) rotate(-50deg) scale(0.75);
  }
  .board > div:nth-of-type(9) {
    transform: translate(290%, 450%) rotate(-30deg) scale(0.75);
  }
  .board > div:nth-of-type(10) {
    transform: translate(160%, 410%) rotate(-20deg) scale(0.75);
  }
  .board > div:nth-of-type(11) {
    transform: translate(20%, 340%) rotate(0deg) scale(0.75);
  }
  .board > div:nth-of-type(12) {
    transform: translate(-140%, 220%) rotate(20deg) scale(0.75);
  }
  .board > div:nth-of-type(13) {
    transform: translate(-250%, 80%) rotate(30deg) scale(0.75);
  }
  .board > div:nth-of-type(14) {
    transform: translate(-370%, -120%) rotate(50deg) scale(0.75);
  }
  .board > div:nth-of-type(15) {
    transform: translate(-430%, -320%) rotate(70deg) scale(0.75);
  }
  .board > div:nth-of-type(16) {
    transform: translate(-470%, -550%) rotate(-90deg) scale(0.75);
  }
  .board > div:nth-of-type(17) {
    transform: translate(-445%, -760%) rotate(-70deg) scale(0.75);
  }
  .board > div:nth-of-type(18) {
    transform: translate(-370%, -990%) rotate(-50deg) scale(0.75);
  }
  .board > div:nth-of-type(19) {
    transform: translate(-270%, -1170%) rotate(-30deg) scale(0.75);
  }
  .board > div:nth-of-type(20) {
    transform: translate(-140%, -1320%) rotate(-20deg) scale(0.75);
  }
  .result > div:nth-of-type(1):after {
    content: "Red Wins!";
    position: absolute;
    color: white;
    background-color: black;
    transform: translate(-50%, -800%) scale(1.5);
    /* transform: rotate(calc(1/20 * 1turn)); */
    /* transform: translate(0%, 50%); */
    animation: score 4s ease-in forwards infinite;
    opacity: 0;
  }

  .kickoffresult > div:nth-of-type(1):after {
    content: "20 + 20 + 1 = 40 yard kick";
    position: absolute;
    font-size: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    transform: translate(-50%, -1800%) scale(1.5);
    /* transform: rotate(calc(1/20 * 1turn)); */
    /* transform: translate(0%, 50%); */
    animation: score 4s ease-in forwards infinite;
    opacity: 0;
  }

  .bigKickoffResult > div:nth-of-type(1):after {
    content: "Triple 20 = 60 yard kick in one dart";
    position: absolute;
    font-size: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    transform: translate(-50%, -1800%) scale(1.5);
    /* transform: rotate(calc(1/20 * 1turn)); */
    /* transform: translate(0%, 50%); */
    animation: score 4s ease-in forwards infinite;
    opacity: 0;
  }

  .bustKickoffResult > div:nth-of-type(1):after {
    content: "Triple 20 + 13 > 60; = touchback";
    position: absolute;
    font-size: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    transform: translate(-50%, -1800%) scale(1.5);
    /* transform: rotate(calc(1/20 * 1turn)); */
    /* transform: translate(0%, 50%); */
    animation: score 4s ease-in forwards infinite;
    opacity: 0;
  }

  .kickoffReturnResult > div:nth-of-type(1):after {
    content: "20 yard return";
    position: absolute;
    font-size: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    transform: translate(-50%, -1800%) scale(1.5);
    /* transform: rotate(calc(1/20 * 1turn)); */
    /* transform: translate(0%, 50%); */
    animation: score 4s ease-in forwards infinite;
    opacity: 0;
  }

  .kickoutResult > div:nth-of-type(1):after {
    content: "Kick out of bounds - start at 40 yard line";
    position: absolute;
    font-size: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    transform: translate(-50%, -1800%) scale(1.5);
    /* transform: rotate(calc(1/20 * 1turn)); */
    /* transform: translate(0%, 50%); */
    animation: score 4s ease-in forwards infinite;
    opacity: 0;
  }

  .blockedPuntResult > div:nth-of-type(1):after {
    content: "Blocked punt - Turnover";
    position: absolute;
    font-size: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    transform: translate(-50%, -1800%) scale(1.5);
    /* transform: rotate(calc(1/20 * 1turn)); */
    /* transform: translate(0%, 50%); */
    animation: score 4s ease-in forwards infinite;
    opacity: 0;
  }

  .firstDownResult > div:nth-of-type(1):after {
    content: "First Down!";
    position: absolute;
    font-size: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    transform: translate(-50%, -1800%) scale(1.5);
    /* transform: rotate(calc(1/20 * 1turn)); */
    /* transform: translate(0%, 50%); */
    animation: score 4s ease-in forwards infinite;
    opacity: 0;
  }

  .turnoverOnDownsResult > div:nth-of-type(1):after {
    content: "Turnover On Downs";
    position: absolute;
    font-size: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    transform: translate(-50%, -1800%) scale(1.5);
    /* transform: rotate(calc(1/20 * 1turn)); */
    /* transform: translate(0%, 50%); */
    animation: score 4s ease-in forwards infinite;
    opacity: 0;
  }

  @keyframes score {
    0% {
      ocacity: 0;
    }
    55% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* *, ::before, ::after {
    box-sizing: border-box;
  } */
  
    .body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1vh;
      margin: 0;
      background-color: #f0f0f0;
    }

    .lineOfScrimmage {
      clip-path: circle(16rem at 50% 50%);
      position: absolute;
      color: white;
      width: 50px;
      height: 50px;
    }
  
    .dart {
      position: absolute;
      /* width: calc(10vmin - 20px); */
      width: 40px;
      /* height: calc(10vmin - 20px); */
      height: 40px;
      background-image: url('/dartblue.png');
      background-size: contain;
      background-repeat: no-repeat;
      transform-origin: center;
      transform: rotate(-70deg);
      animation: fly-in 4s ease-out forwards;
      animation-iteration-count: infinite;
      /* content: "left"; */
    }
    .dart2 {
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url('/dart.png');
      background-size: contain;
      background-repeat: no-repeat;
      transform-origin: right;
      transform: rotate(-65deg);
      animation: fly-in2 4s ease-out forwards;
      animation-iteration-count: infinite;
    }

    .dart3 {
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(https://pngimg.com/uploads/darts/darts_PNG55.png);
      background-size: contain;
      background-repeat: no-repeat;
      transform-origin: right;
      transform: rotate(-65deg);
      animation: fly-in3 4s ease-out forwards;
      animation-iteration-count: infinite;
    }

    .dart3return {
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url('/dartblue.png');
      background-size: contain;
      background-repeat: no-repeat;
      transform-origin: right;
      transform: rotate(-65deg);
      animation: fly-in3 4s ease-out forwards;
      animation-iteration-count: infinite;
    }

    .dart4 {
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(https://pngimg.com/uploads/darts/darts_PNG55.png);
      background-size: contain;
      background-repeat: no-repeat;
      transform-origin: right;
      transform: rotate(-65deg);
      animation: fly-in4 4s ease-out forwards;
      animation-iteration-count: infinite;
    }

    .dart5 {
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(https://pngimg.com/uploads/darts/darts_PNG55.png);
      background-size: contain;
      background-repeat: no-repeat;
      transform-origin: right;
      transform: rotate(-65deg);
      animation: fly-in5 4s ease-out forwards;
      animation-iteration-count: infinite;
    }

    .dartBigKickoff {
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(https://pngimg.com/uploads/darts/darts_PNG55.png);
      background-size: contain;
      background-repeat: no-repeat;
      transform-origin: right;
      transform: rotate(-65deg);
      animation: bigkickoff 4s ease-out forwards;
      animation-iteration-count: infinite;
    }

    .dartTouchbackKickoff {
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(https://pngimg.com/uploads/darts/darts_PNG55.png);
      background-size: contain;
      background-repeat: no-repeat;
      transform-origin: right;
      transform: rotate(-65deg);
      animation: fly-in 4s ease-out forwards;
      animation-iteration-count: infinite;
      overflow: hidden;
    }

    .dartBounceout {
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url('/dartblue.png');
      background-size: contain;
      background-repeat: no-repeat;
      transform-origin: right;
      transform: rotate(-65deg);
      animation: bounceout 4s ease-out forwards;
      animation-iteration-count: infinite;
      overflow: hidden;
    }

    .dartRedBounceout {
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url('/dart.png');
      background-size: contain;
      background-repeat: no-repeat;
      transform-origin: right;
      transform: rotate(-65deg);
      animation: bounceout 4s ease-out forwards;
      animation-iteration-count: infinite;
      overflow: hidden;
    }

    .dartFirstDown {
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url('/dart.png');
      background-size: contain;
      background-repeat: no-repeat;
      transform-origin: right;
      transform: rotate(-65deg);
      animation: firstdown 4s ease-out forwards;
      animation-iteration-count: infinite;
      overflow: hidden;
    }

    .dartBigFirstDown {
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url('/dart.png');
      background-size: contain;
      background-repeat: no-repeat;
      transform-origin: right;
      transform: rotate(-65deg);
      animation: bigfirstdown 4s ease-out forwards;
      animation-iteration-count: infinite;
      overflow: hidden;
    }
  
    .dart:nth-child(1) {
      right: 10%;
      animation-delay: 0.5s;
    }
  
    .dart:nth-child(2) {
      right: 60%;
      animation-delay: 0.7s;
    }
    .dart2:nth-child(1) {
      left: 4%;
      animation-delay: 1.5s;
    }
  
    /* .dart2:nth-child(2) {
      left: 60%;
      animation-delay: 0.7s;
    } */
  
    @keyframes fly-in {
      0% {
        right: 10%;
        bottom: 50%;
        transform: rotate(140deg);
        scale: 3.0;
        /* transform: scale(1.5); */
      }
      20% {
        /* transform: rotate(143deg); */
        right: 10%;
        bottom: 50%;
        scale: 3.0;
      }
      29% {
        transform: rotate(135deg);
        bottom: 50%;
        /* right: 39%; */
      }
      30% {
        right: 30%;
        bottom: 50%;
        transform: rotate(130deg);
        scale: 1.0;
        /* transform: scale(1.0); */
      }
      35% {
        right: 30%;
        bottom: 50%;
        transform: rotate(129deg);
      }
      100% {
        right: 30%;
        bottom: 50%;
        transform: rotate(129deg);
      }
    }
    @keyframes fly-in2 {
      0% {
        left: 4%;
        bottom: 50%;
        transform: rotate(-70deg);
        scale: 3.5;
        /* transform: scale(1.5); */
      }
      1% {
        left: 5%;
        /* transform: scale(1.5); */
      }
      10% {
        transform: rotate(-72deg);
      }
      20% {
        left: 40%;
        transform: rotate(-84deg);
        scale: 1.0;
        /* transform: scale(1.0); */
      }
      100% {
        left: 40%;
        bottom: 50%;
        transform: rotate(-85deg);
        
      }
    }

    @keyframes fly-in3 {
      0% {
        left: 4%;
        bottom: 50%;
        transform: rotate(-70deg);
        scale: 3.5;
        /* transform: scale(1.5); */
      }
      20% {
        left: 4%;
        bottom: 50%;
        transform: rotate(-70deg);
        scale: 3.5;
        /* transform: scale(1.5); */
      }
      21% {
        left: 5%;
        /* transform: scale(1.5); */
      }
      30% {
        transform: rotate(-72deg);
      }
      40% {
        left: 37%;
        transform: rotate(-84deg);
        scale: 1.0;
        bottom: 80%;
        /* transform: scale(1.0); */
      }
      100% {
        left: 37%;
        bottom: 80%;
        transform: rotate(-85deg);
        
      }
    }

    @keyframes fly-in4 {
      0% {
        left: 4%;
        bottom: 50%;
        transform: rotate(-70deg);
        scale: 3.5;
        /* transform: scale(1.5); */
      }
      40% {
        left: 4%;
        bottom: 50%;
        transform: rotate(-70deg);
        scale: 3.5;
        /* transform: scale(1.5); */
      }
      41% {
        left: 5%;
        /* transform: scale(1.5); */
      }
      50% {
        transform: rotate(-72deg);
      }
      60% {
        left: 36%;
        transform: rotate(-84deg);
        scale: 1.0;
        bottom: 64%;
        /* transform: scale(1.0); */
      }
      100% {
        left: 36%;
        bottom: 64%;
        transform: rotate(-85deg);
        
      }
    }

    @keyframes fly-in5 {
      0% {
        left: 4%;
        bottom: 50%;
        transform: rotate(-70deg);
        scale: 3.5;
        /* transform: scale(1.5); */
      }
      10% {
        left: 4%;
        bottom: 50%;
        transform: rotate(-70deg);
        scale: 3.5;
        /* transform: scale(1.5); */
      }
      11% {
        left: 5%;
        /* transform: scale(1.5); */
      }
      20% {
        transform: rotate(-72deg);
      }
      30% {
        left: 42%;
        transform: rotate(-84deg);
        scale: 1.0;
        bottom: 64%;
        /* transform: scale(1.0); */
      }
      100% {
        left: 42%;
        bottom: 64%;
        transform: rotate(-85deg);
        
      }
    }

    @keyframes bigkickoff {
      0% {
        left: 4%;
        bottom: 50%;
        transform: rotate(-70deg);
        scale: 3.5;
        /* transform: scale(1.5); */
      }
      10% {
        left: 4%;
        bottom: 50%;
        transform: rotate(-70deg);
        scale: 3.5;
        /* transform: scale(1.5); */
      }
      11% {
        left: 5%;
        /* transform: scale(1.5); */
      }
      20% {
        transform: rotate(-72deg);
      }
      30% {
        left: 38%;
        transform: rotate(-84deg);
        scale: 1.0;
        bottom: 70%;
        /* transform: scale(1.0); */
      }
      100% {
        left: 38%;
        bottom: 70%;
        transform: rotate(-85deg);
        
      }
    }

    @keyframes firstdown {
      0% {
        left: 4%;
        bottom: 50%;
        transform: rotate(-70deg);
        scale: 3.5;
        /* transform: scale(1.5); */
      }
      10% {
        left: 4%;
        bottom: 50%;
        transform: rotate(-70deg);
        scale: 3.5;
        /* transform: scale(1.5); */
      }
      11% {
        left: 5%;
        /* transform: scale(1.5); */
      }
      20% {
        transform: rotate(-72deg);
      }
      30% {
        left: 55%;
        transform: rotate(-84deg);
        scale: 1.0;
        bottom: 65%;
        /* transform: scale(1.0); */
      }
      100% {
        left: 55%;
        bottom: 65%;
        transform: rotate(-85deg);
        
      }
    }

    @keyframes bigfirstdown {
      0% {
        left: 4%;
        bottom: 50%;
        transform: rotate(-70deg);
        scale: 3.5;
        /* transform: scale(1.5); */
      }
      10% {
        left: 4%;
        bottom: 50%;
        transform: rotate(-70deg);
        scale: 3.5;
        /* transform: scale(1.5); */
      }
      11% {
        left: 5%;
        /* transform: scale(1.5); */
      }
      20% {
        transform: rotate(-72deg);
      }
      30% {
        left: 50%;
        transform: rotate(-84deg);
        scale: 1.0;
        bottom: 60%;
        /* transform: scale(1.0); */
      }
      100% {
        left: 50%;
        bottom: 60%;
        transform: rotate(-85deg);
        
      }
    }

    @keyframes bounceout {
      0% {
        right: 24%;
        bottom: 20%;
        transform: rotate(150deg);
        scale: 3.0;
        /* transform: scale(1.5); */
      }
      10% {
        right: 24%;
        bottom: 20%;
        transform: rotate(150deg);
        scale: 3.0;
        /* transform: scale(1.5); */
      }
      11% {
        right: 25%;
        /* transform: scale(1.5); */
      }
      15% {
        transform: rotate(102deg);
        bottom: 80%;
      }
      20% {
        right: 38%;
        transform: rotate(84deg);
        scale: 1.0;
        bottom: 70%;
        /* transform: scale(1.0); */
      }
      25% {
        right: 34%;
        scale: 2.0;
        transform: rotate(60deg);
      }
      30% {
        transform: rotate(40deg);
      }
      35% {
        right: 37%;
        scale: 1.0;
        bottom: -10%;
        /* transform: scale(1.0); */
      }
      40% {
        bottom: -5%;
        transform: rotate(40deg);
      }
      50% {
        bottom: -10%;
        transform: rotate(-38deg);
      }
      100% {
        right: 37%;
        bottom: -10%;
        transform: rotate(-40deg);
        
      }
    }